In [9]:
"""Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. 
Then, use the interactive interpreter to import the zoo module and call its hours() function."""
import zoo
hours= zoo.hours()

Open 9-5 daily

In [11]:
""" In the interactive interpreter, import the zoo module as menagerie and call its hours() function."""
import zoo as menagerie
hours = menagerie.hours()

Open 9-5 daily

In [1]:
"""16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. 
As in 16.6, select and print the title column from the book table in alphabetical order."""
import sqlalchemy as sa
conn = sa.create_engine('books.db')
meta = sa.MetaData
books = sa.Table('books', meta, 
                 sa.Column('title', sa.String, primary_key=True),
                 sa.Column('author', sa.String,), 
                 sa.Column('year', sa.Integer))
meta.create_all(conn)
conn.execute(books.insert ('The Weirdstone of Brisingamen','Alan Garner' ,1960 ))
conn.execute(books.insert ('Perdido Street Station', 'China Mi√©ville', 2000))
conn.execute(books.insert ('Thud!', 'Terry Pratchett',2005 ))
conn.execute(books.insert ('The Spellman Files', 'Lisa Lutz',2007 ))
conn.execute(books.insert ('Small Gods', 'Terry Pratchett',1992 ))

sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

AttributeError: 'Engine' object has no attribute 'execute'